<app-header></app-header>
<div class="mt-3" >
    <div class="flex justify-content-end">
      <button pButton type="button" (click)=" refresh()"  label="Refresh" class="p-button-success mr-2 mb-2" icon="pi pi-refresh" ></button>
    </div>
    <!-- [value] ="customers" -->
    <!-- (onLazyLoad)="reloadTable($event)" -->
    <!-- [totalRecords]="totalRecords" -->
  <p-table class="mt-3"
    #dt
    [scrollable]="true"
    scrollHeight="300px"
    scrollDirection="both"
    [tableStyle]="{ 'min-width': '50rem' }"
    dataKey="id"
    [paginator]="true"
    [totalRecords]="totalRecords"
    [rows]="5"
    [showCurrentPageReport]="true"
    styleClass="p-datatable-gridlines"
    [rowHover]="true"
    [value] ="users"
    [lazy]="true" 
    (onLazyLoad)="reloadTable($event)"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} Users"
    [rowsPerPageOptions]="[5, 10, 15]"
    sortMode="single"
    sortField="username"
   
    [resizableColumns]="true"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>STT</th>
        <th style="min-width: 100px" pSortableColumn="fullName">
          FullName<p-sortIcon field="fullName"></p-sortIcon>
        </th>
        <th style="min-width: 100px" pSortableColumn="username">
          UserName<p-sortIcon field="username"></p-sortIcon>
        </th>
        <th style="min-width: 180px" pSortableColumn="address">
          Address<p-sortIcon field="address"></p-sortIcon>
        </th>
        <th style="min-width: 180px" pSortableColumn="email">
          Email<p-sortIcon field="email"></p-sortIcon>
        </th>
        <th style="min-width: 180px" pSortableColumn="phone">
          PhoneNumber<p-sortIcon field="phone"></p-sortIcon>
        </th>
        <th style="min-width: 180px" pSortableColumn="gender">
          Gender<p-sortIcon field="gender"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user let-i="rowIndex">
      <tr>
        <td>{{i+1}}</td>
        <td style="min-width: 100px">{{ user.fullName }}</td>
        <td style="min-width: 100px">{{ user.username }}</td>
        <td style="min-width: 100px">{{ user.address }}</td>
        <td style="min-width: 100px">{{ user.email }}</td>
        <td style="min-width: 100px">{{ user.phone }}</td>
        <td *ngIf="user.gender === 1" style="min-width: 100px">Nam</td>
        <td *ngIf="user.gender === 0" style="min-width: 100px">Nữ</td>
     </tr>
  </ng-template>
  <ng-template   pTemplate="emptymessage">
    <tr  >
        <td style="text-align: center;"  colspan="11">No data found</td>
    </tr>
</ng-template>
</p-table>
</div>

