<div class="header" style="margin-top: -10px; margin-left: -10px; margin-right: -10px;">
    <a href="#default" class="logo">
        <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/Logo_PTIT_University.png/768px-Logo_PTIT_University.png" alt="" srcset=""> -->
    </a>
    <div class="header-right">
      <a class="active" href="#home">Home</a>
      <a [routerLink]="['/signup']" routerLinkActive="router-link-active" >SignUp</a>
      <a [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</a>
      <a [routerLink]="['/user-management']" routerLinkActive="router-link-active" >User Management</a>
    </div>
  </div>
